################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JAllan/.vs/JAllan/v15/Server/sqlite3
